.Document h1 {
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 1.7rem;
  margin-bottom: 1.0rem;
  text-rendering: optimizeLegibility;
}

.Document img {
  border-radius: 1.7rem;
  display: block;
  margin: auto;
  width: 100%;
}

.links {
  margin-bottom: 2.4rem;
}

.row {
  display: flex;
}

.left {
  flex: 50%;
}

.right {
  flex: 50%;
  padding: 1.7rem;
}

@media (max-width: 768px) {
  .row {
    display: block;
  }

  .left {
    display: block;
  }

  .right {
    display: block;
    padding: 0 1.7rem 1.7rem 1.7rem;
  }
}